@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.slider-image img {
	width: 100%;
	display: block;
}
.slider-image {
	position: relative;
}
.slider-image:after {
	content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(231,199,198,0.5);
    z-index: 100;
}
body {
 	/*font-family: Open Sans, serif;*/
}
.brand {
	float:left;
}
.brand p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
#navbar {
	float:right;
}
#header {
	position:absolute;
	left:0;
	right:0;
}

#header {
	padding-top:55px;
	z-index: 200;
}
#list-nav li {
	float: left;
}
#list-nav a {
	display: block;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	padding-left: 15px;
	font-family: 'Open Sans', sans-serif;
}
#list-nav a:hover {
	color:#9b59b6;
}

.slider-text {
    position: absolute;
    left: 50%;
    width: 53%;
    right: 0;
    top: 242px;
    text-align: center;
    margin-left: -25%;
    z-index: 200;
 }
.slider-text h1 {
	text-align: center;
	font-family: Rokkitt, serif;
	font-size: 55px;
	letter-spacing: 1px;
   	color:#fff;
}
.line-style {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255,255,255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.slider-text p {
	color:#fff;
	text-align: center;
	font-family: 'quicksandregular';
    font-size: 24px;
    padding-top: 21px; 
}
.button-info {
	position: relative;
	top: -30px;
	display: block;
    font-size: 19px;
    background-color: rgba(155, 89, 182, 0.5);
    color: #fff;
    padding: 20px;
    width: 175px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    z-index: 171;
    
}
.button-info:after {
	content: '';
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	background-color: #9b59b6;

}
.button-info a {
	z-index: 1;
    color: #fff;
    text-decoration: none;
    position: relative;
}
.info-text {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color:#95a5a6;
	margin-top: 10%;
}
.info-text h2 {
	color:#9b59b6;
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 5%;
}
.info-text p {
	font-size: 16px;
	line-height: 1.6em;
	margin-bottom: 10%;
	margin-right: 80px;
    margin-left: 80px;
}
.services i {
	display: inline-block;
	font-size:85px;
	text-align: center;
	color:#9b59b6;
	margin-bottom: 5%;
    width: 100%;
}
.services h4 {
	color:#9b59b6;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;

}
.services p {
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 20%;
	color:#95a5a6;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
	margin-right: 25px;
    margin-left: 25px;
}
.info-line-style {
	border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(149,165,166, 0), rgba(149, 165, 166, 0.75), rgba(149, 165, 166, 0));
    margin-bottom: 10%;
}
.item {
	position: relative;
	margin-bottom: 40px;
}
.item img {
	width: 100%;
	display: block;

}
.item:after {
	content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(231,199,198,0.3);
    z-index: 100;
}

.item .search-button {
	display: none;
    position: absolute;
    top: 0;
    right: 30px;
    padding: 10px;
    background-color: #9b59b6;
}
.search-button {
	margin-top: 25px;
}
.item .description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: #9b59b6;
}
.item:hover .search-button {
	display: block;
}
.item:hover .description {
	display: block;
	filter: contrast(100%);
}
.item:hover:after {
    display: none;
}
.item strong {
	display: block;
	color:#fff;
	font-size: 30px;
	font-family: 'Rokkitt', serif;
	margin-left:20px;
	text-align: left;
	padding-top: 20px;
}
.item p {
	font-size: 15px;
	color:#6b3f7d;
	padding-top:5px;
	margin-left:20px;
	font-family: 'Open Sans', serif;
	padding-bottom: 20px;
}
.description a {
	position: relative;
    display: block;
    font-size: 22px;
    background-color: #9b59b6;
    color: #fff;
    width: 50px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    z-index: 171;
    box-sizing: border-box;
   /* border: 6px solid rgba(255,255,255,0.6);*/
   /* margin-left: 86%;
    margin-top: 3%;*/
}

.view-more-items a{
	position: relative;
	display: block;
    font-size: 19px;
    background-color: #9b59b6;
    color: #fff;
    padding: 20px;
    width: 175px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.view-more-items i {
	font-size: 20px;
	text-align: center;
	margin-left: 5px;
}
.contact-section h4 {
	font-size:50px;
	color:#9b59b6;
	text-align: center;
	font-family:'Rokkitt', serif;
	margin-bottom: 5%;
}
.contact-message input { 
	color:#000;
	width: 48%;
    text-align: left;
    padding: 15px;
    border: 1px solid #fff;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    background-color: #ead2f4;
 }
.contact-message input:first-child {
	float: left;
}
.contact-message input:nth-child(2){
	float: right;
}
.contact-message textarea{
	color:#000;
	width: 100%;
    height:200px;
    text-align: left;
    padding:15px;
    border: 1px solid #fff;
    margin-top: 25px;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    padding-top: 13px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 200px;
    background-color: #ead2f4;
}

.contact-message input[type="submit"] {
	display: block;
    color:#fff;
    width: 18%;
    font-size: 23px;
    height:50px;
    background-color: #9b59b6;
    border: 1px solid #9b59b6;
    margin-top: 25px; 
   	text-align: center;
    cursor: pointer;
    font-family: 'Rokkitt', serif;
    margin-bottom: 10%;
}
footer {
	background-color: #9b59b6;
}
.item-wrapper {
	background-color: #9b59b6;
	padding: 50px 0;
}
.footer-items {
	padding-bottom: 10px;
}
.footer-items ul {
	margin-top: -80px;
}

.footer-items a {
	display: inline-block;
	text-align: center;
	background-color: #fff;
	padding: 20px;
	margin: 0 auto;
	min-width: 40px;
}
.footer-items i {
	font-size: 30px;
}
.footer-text {
	margin-top: 25px;
	font-size: 17px;
}
.footer-text p {
	float: left;
	color:#fff;
}
.footer-text span {
	float: right;
	color:#fff;
}
.footer-items li :nth-child(2){
	text-align: center;
}
.social-media {
	font-size: 0;
}
.social-media li {
		width:33.33%;
		float: left;
}
.social-media li {
	text-align: center;
}
.social-media li:first-child {
	text-align: left;
}
.social-media li:last-child {
	text-align: right;
}
.social-media li a {
	position: relative;
	text-align: center;
	background-color: rgba(155, 89, 182, 0.5);
	z-index: 1;
}
.social-media li a:before {
	content: "";
	position: absolute;
	left: 5px;
	top: 5px;
	right: 5px;
	bottom: 0px;
	background-color: #fff;
}
.social-media li i {
	position: relative;
	z-index: 1;
	color: background-color: rgba(155, 89, 182, 1);
}
/*.search-button a {
	position: relative;
	text-align: center;
	background-color: rgba(155, 89, 182, 0.5);
	z-index: 2;
}
.search-button a:before {
	content: "";
	position: absolute;
	left: 2px;
	top: 2px;
	right: 2px;
	bottom: 2px;
	background-color: #fff;
}   
*/
